canvas#threejs {
  width: 100%;
  height: 100%;
/*
    touch-action: none;
    pointer-events: none;
    display: none;
    */

  touch-action: none;

  position: fixed;

  background-color: black;

  z-index: 1;
}

.TitleBackground{

  width: 100%;
  height: 100%;

  position: relative;

  color: white;
  background-image: url("./assets/SolitaryTitle.gif");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  

  display: flex;
  align-items: flex-end;


  z-index: 2;
}

.text-overlay {
	position: absolute;
	top: 55%;
  padding: 3%;
}

.dialogArea {
  font-size: 20px;
  resize: none;
  outline: none;
  user-select: none;
}
.Title{
  width: 100%;
  height: 100%;

  margin-top: 3rem;

  display: flex;
  justify-content: center;

  position: fixed;
  inset: 0;
}

.title-text {
  font-size: 3rem;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}


.ChatBox{
  width: 100%;
  height: 20%;

  /* background-color: red; */
  background-color: rgba(50, 50, 50, 0.8);
  display: flex;

  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 12px;

  color: white;

  visibility: hidden;

  z-index:2;
}

img.talking-to {
  width: 10rem;
  
  aspect-ratio: 1 / 1;
}

.dialogue {
  flex-grow: 1;

  padding: 0 1rem;
}

.dialogue-text {
  height: 90%;

  background-color: rgb(30, 30, 30);
}

button.choice {

}


@keyframes fade{

  0%{opacity:1;}
  100%{opacity:0; background-image: none; }
}

.TitleButton{
  width:20%;
  height: 20%;
  right: 50%;
  top: 30%;

  position: fixed;
  opacity: 0;
  color: white;

  z-index: 3;
 
}



