canvas#threejs {
  width: 100%;
  height: 100%;

  touch-action: none;

  position: fixed;

  background-color: black;

  z-index: 1;
}

.area-2d {
  width: 100%;
  height: 100%;

  position: fixed;

  color: white;

  touch-action: none;
  pointer-events: none;
  display: none;

  z-index: 2;
}