canvas#threejs {
  width: 100%;
  height: 100%;

  touch-action: none;

  position: fixed;

  background-color: black;

  z-index: 1;
}

.area-2d {
  width: 100%;
  height: 100%;

  position: relative;

  color: white;

  z-index: 2;
}

.text-overlay {
	position: absolute;
	top: 55%;
  padding: 3%;
}

.dialogArea {
  font-size: 20px;
  resize: none;
  outline: none;
  user-select: none;
}