canvas#threejs {
  width: 100%;
  height: 100%;
/*
    touch-action: none;
    pointer-events: none;
    display: none;
    */

  touch-action: none;

  position: fixed;

  background-color: black;

  z-index: 1;
}

.TitleBackground{

  width: 100%;
  height: 100%;

  position: relative;

  color: white;
  background-image: url("./assets/SolitaryTitle.gif");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  

  display: flex;
  align-items: flex-end;


  z-index: 2;
}

.text-overlay {
	position: absolute;
	top: 55%;
  padding: 3%;
}

.dialogArea {
  font-size: 20px;
  resize: none;
  outline: none;
  user-select: none;
}
.TitleText{
  opacity:1;

}


.ChatBox{
  width: 100%;
  height: 30%;

  background-color: red;
  display: flex;

  color: white;

  z-index:2;
}

img.talking-to {
  width: 10rem;
  
  aspect-ratio: 1 / 1;
}

.dialogue {
  flex-grow: 1;

}

button.choice {

}


@keyframes fade{

  0%{opacity:1;}
  100%{opacity:0; background-image: none; }
}

.TitleButton{
  width:20%;
  height: 20%;
  right: 50%;
  top: 30%;

  position: fixed;
  opacity: 0;
  color: white;

  z-index: 3;
 
}



